/*

FONT COLLECTION:


FONT SIZES:


COLORS:

#777, 
rgb(83, 15, 15), 
rgba(141, 13, 192, 0.467)

*/


    .modal {
        /* This way it could be display flex or grid or whatever also. */
        display: block;
        
        /* Probably need media queries here */
        width: 90vw;
        max-width: 100%;
        
        height: 90vh;
        max-height: 100%;
        
        position: fixed;
        
        z-index: 100;
        
        left: 50%;
        top: 50%;
        
        /* Apply rounded corners */
        -moz-border-radius: 6px 6px 6px 6px;
        -webkit-border-radius: 6px;  
        border-radius: 6px 6px 6px 6px;
    
        /* Hide Scrollbar */
        /*overflow-y:auto;*/
    
        /* Use this for centering if unknown width/height */
        transform: translate(-50%, -50%);
        
        /* If known, negative margins are probably better (less chance of blurry text). */
        /* margin: -200px 0 0 -200px; */
        
        background: white;
        box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
      }
    
      .closed {
        display: none;
      }
      
      .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 50;
        
        background: rgba(0, 0, 0, 0.6);
      }
      .modal-guts {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 20px 50px 20px 20px;
      }
    
      .modal-guts::-webkit-scrollbar {
        width: 12px;
      }
    
    .modal-guts::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
      }
    .modal-guts::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
      }
    
      .modal .close-button {
        position: absolute;
        
        /* don't need to go crazy with z-index here, just sits over .modal-guts */
        z-index: 1;
        
        top: 10px;
        
        /* needs to look OK with or without scrollbar */
        right: 20px;
        
        border: 0;
        background: black;
        color: white;
        padding: 5px 10px;
        font-size: 1.3rem;
      }
    
    
    
    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #777;
    
    }
    
    html {
        font-size: 62.5%;
    }
    
    body {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1.6rem;
        box-sizing: border-box;
        line-height: 1.7;
        color: white;
        padding: 2rem;
        /* mix-blend-mode: difference; */
    }
    
    .header {
        position: relative;
        height: 100vh;
        /* background: linear-gradient(
            to left, 
            rgb(83, 15, 15, 0.8),
             rgba(141, 13, 192, 0.467)); */
        background-color: rgb(83, 15, 15);
        background-size: cover;
        background-position: center;
        clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
    }
    
    
    .logotxt {
        position: absolute;
        top: 3rem;
        left: 5rem;
    }
    .logo {
        height: 5rem;
        color: #FFF;
        font-size: 2rem;
    }
    
    .txtbox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .h1-txt {
        font-family: 'Oswald', sans-serif;
        
    }
    .h1-main{
        text-transform: uppercase;
        display: block;
        color: #FFF;
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: 2rem;
        animation: inright 1s ease-in;
    }
    .h1-sub {
        display: block;
        color: #FFF;
        font-weight: 400;
        font-size: 2.5rem;
        letter-spacing: 1.35rem;
        margin-bottom: 1rem;
        animation: inright 1s ease-in;
    }
    
    
    @keyframes inright {
        0% {
            opacity: 0;
            transform: translateX(10rem);
        }
        80% {
            transform: translate (-1rem);
        }
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }
    


#large {
    
    padding: 4em;
    height: 100vh;
    width: 100%;
    position: relative;
    /* background: linear-gradient(
        to left, 
        rgb(83, 15, 15, 0.8),
         rgba(141, 13, 192, 0.467)); */
    background-color: rgb(83, 15, 15);
    background-size: cover;
    /* background-position: center; */
    
    
    overflow: hidden;
    /* clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);*/
}



.svg {
    position: absolute;
    top: 8%;
    width: 30rem;
    right: 0;
}

#bloq {
    position: absolute;
    
    left: 0;
    top: 18%;
    
    width: 30rem;
    font-size: 2.3em;
    /*align-items: stretch;*/
    /* transform: translate(0, 0); */
}
/* #bloq blockquote {
    font-size: 2.3em;
    width: 100%;
    margin-top: 17%;
    
} 

#bloq blockquote span {
    width: 100%;
    background: red;
    height: .5rem;
    margin-top: 2rem;
    display: block;
  }

*/

.txtbox1 {
    top: 10%;
    left: 5%;
    text-align: center;
}

.txtbox1 blockquote {
    font-size: 2.3rem;
    width: 100%;
    margin-top: 17%;
    position: absolute;
}

.txtbox1 blockquote span {
    width: 100%;
    background: red;
    display: block;
    height: 5px;
    margin-top: 20px;
    position: absolute;
  }

  

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem;
    display: inline-block;
    border-radius: 4rem;
    transition: all .2s;
    animation: inright 1s ease-in;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.3);
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
}
.btn-white {
    background-color: white;
    
}





/* @media screen and (max-width: 960px) {


    .modal {
   
        display: block;
        
   
        width: 90vw;
        max-width: 100%;
        
        height: 90vh;
        max-height: 100%;
        
        position: fixed;
        
        z-index: 100;
        
        left: 50%;
        top: 50%;
        

        -moz-border-radius: 6px 6px 6px 6px;
        -webkit-border-radius: 6px;  
        border-radius: 6px 6px 6px 6px;

        transform: translate(-50%, -50%);
        
        
        
        background: white;
        box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
      }
    
      .closed {
        display: none;
      }
      
      .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 50;
        
        background: rgba(0, 0, 0, 0.6);
      }
      .modal-guts {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 20px 50px 20px 20px;
      }
    
      .modal-guts::-webkit-scrollbar {
        width: 12px;
      }
    
    .modal-guts::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
      }
    .modal-guts::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
      }
    
      .modal .close-button {
        position: absolute;
        
        
        z-index: 1;
        
        top: 10px;
        
        
        right: 20px;
        
        border: 0;
        background: black;
        color: white;
        padding: 5px 10px;
        font-size: 1.3rem;
      }
    
    
    
    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
        color: #777;
    
    }
    
    html {
        font-size: 62.5%;
        width: 100%;
    }
    
    body {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1.6rem;
        box-sizing: border-box;
        line-height: 1.7;
        color: white;
        padding: 2rem;
    
    }
    
    .header {
        position: relative;
        height: 100vh;
        background-color: rgb(83, 15, 15);
        background-size: cover;
        background-position: center;
        clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
    }
    
    
    .logotxt {
        position: absolute;
        top: 3rem;
        left: 5rem;
    }
    .logo {
        height: 5rem;
        color: #FFF;
        font-size: 2rem;
    }
    
    .txtbox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .h1-txt {
        font-family: 'Oswald', sans-serif;
        
    }
    .h1-main{
        text-transform: uppercase;
        display: block;
        color: #FFF;
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: 2rem;
        animation: inright 1s ease-in;
    }
    .h1-sub {
        display: block;
        color: #FFF;
        font-weight: 400;
        font-size: 2.5rem;
        letter-spacing: 1.35rem;
        margin-bottom: 1rem;
        animation: inright 1s ease-in;
    }
    
    
    @keyframes inright {
        0% {
            opacity: 0;
            transform: translateX(10rem);
        }
        80% {
            transform: translate (-1rem);
        }
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }



    #large {
        display: block;
        padding: 4em;
        height: 100vh;
        width: 100%;
        position: relative;
        background-color: rgb(83, 15, 15);
        background-size: cover;
        background-position: center;
        box-sizing: border-box;
        z-index: 0;
        overflow: hidden;
        
    }
    
    
    
    .svg {
        position: absolute;
        float: right;
        width: 30rem;
        right: 960px;
    }
    
    #bloq {
        position: absolute;
        left: 960px;
        top: 25%;
        float: left;
        width: 30rem;
        font-size: 2.3em;
        align-items: stretch;
    }
 
    
    #bloq blockquote span {
        width: 100%;
        background: red;
        height: .5rem;
        margin-top: 2rem;
        display: block;
      }
    
    .txtbox1 {
        top: 10%;
        left: 5%;
        text-align: center;
    }
    
    .txtbox1 blockquote {
        font-size: 2.3rem;
        width: 100%;
        margin-top: 17%;
        position: absolute;
    }
    
    .txtbox1 blockquote span {
        width: 100%;
        background: red;
        display: block;
        height: 5px;
        margin-top: 20px;
        position: absolute;
      }
    



      .btn:link,
      .btn:visited {
          text-transform: uppercase;
          text-decoration: none;
          padding: .5rem;
          display: inline-block;
          border-radius: 4rem;
          transition: all .2s;
          animation: inright 1s ease-in;
      }
      .btn:hover{
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.3);
      }
      .btn:active{
          transform: translateY(-1px);
          box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
      }
      .btn-white {
          background-color: white;
          
      }


    }



*/
  



